body {
   
}

h1 {
    color: red;
}

p {
    color: #228B22;
}

#kanye {
    background-color:green;
}

#thechainsmokers {
    background-color:pink;
} 

#rihanna {
    background-color:yelloow;
    
}

#shawnmendez {
    background-color:blue;
}

#sia {
    background-color:purple;
}

#selenagomez {
    background-color:orange;
}

#drake {
    background-color:yellow;
}
 
#shawnmendez {
    background-color:maroon;
}

#beyonce {
    background-color:teil;
}

#ladygaga {
    background-color:magenta;
}

#rihanna {
    background-color:baige;
}

body {
    text-align: center;
}

nav a {
  text-decoration:none;
}









